.stylish-select{ position:relative; z-index:1; font-size:14px;}
.stylish-select-left{background-color:#fff; position:absolute; z-index:1; width:100%;  cursor:pointer;}
.stylish-select-right{background:url(../images/dropArrow.png) no-repeat right center; padding:0 35px 0 10px; height:33px; line-height:33px; color:#666666; 	white-space: nowrap; overflow: hidden; text-overflow: ellipsis; cursor:pointer;}
ul.listing{  background:#fff; display: none; position: absolute; top: 34px;left: 0px;z-index: 100; list-style: none; margin: 0; padding: 0px 0 0 0;  width:100%; max-height:120px; overflow:auto; box-shadow:0 1px 2px rgba(0,0,0,0.5); }
ul.listing li{ display:block; color:#666; line-height: normal; padding: 6px 10px; cursor:pointer;}
ul.listing li:hover, ul.listing li.selected{color:#000; background:#f1f1f1; cursor:default;}
.main{min-height: 34px; position: relative;}


