html, body{ overflow-x:hidden;}
.resOpenBtn, .resCloseBtn{ width:30px; height:30px; display:inline-block; background-image:url(../images/sprite.png); 
background-repeat:no-repeat; background-position:-299px 0;}
.resCloseBtn{display:none;background-position:-269px 0;}
.navOverlay{ position:fixed; z-index:1000; top:0; left:0; bottom:0; right:0; display:none;}
.responsiveNav{position:fixed; z-index:1001; top:0px;bottom:0px;overflow:hidden;display:none;}
.innerNavBox{height:100%;overflow-y:scroll;}
.responsiveNav ul li{list-style:none;border-bottom:#fff solid 2px;}
.responsiveNav ul li a{display:block;padding:15px 20px; background-color:#eeeeee; text-decoration:none; color:#222; font-size:18px;}
.responsiveNav ul li a:hover{color:#222;}
.resNavClose { padding:5px;}
.resNavClose a{ width:20px; height:20px; padding:6px; text-align:center; text-decoration:none; font-weight:bold; color:#fff; background-color:#333; display:inline-block; border-radius:100%; -moz-border-radius:100%; -webkit-border-radius:100%; opacity:0.8;}