@media only screen and (max-width : 1270px) {
	/*Global*/
	.container{width:94%;}
	
	/*header*/
	.navigation ul li{margin-left:12px; margin-right:12px; }
	.navigation ul li a{font-size:16px;}
	.subMenu{ top:114px;}
	
	/*banner*/
	.banner .container.mainTitle{padding-top: 220px;}
	.banner .mainTitle h1{ font-size:60px;line-height: 42px; word-spacing: -15px;}
	
	/*slider*/
	.owl-theme .owl-controls .owl-nav .owl-prev, .owl-theme .owl-controls .owl-nav .owl-next {
	height: 44px!important; margin-top: -22px!important; width: 18px!important;}
	.owl-theme .owl-controls .owl-nav .owl-prev{left:-30px!important;}
	.owl-theme .owl-controls .owl-nav .owl-next{ right:-30px!important;background-position: -48px center!important;}
	
	/*Home page*/
	#accoladSl .owl-item:nth-child(4n+4) a{border-right:1px solid #ddd;}
	.midHeadNav h1{width:19%;}
	
	
	.sideSearchListSec h2{ font-size:20px;}
	
	
	.maSharPeop img, .maSharPeop span {width: 55px;}
	.maSharPeop span{ padding-top:10px; width:85px;}
}

@media only screen and (max-width : 1000px) {
	/*Global*/
	.container{max-width:768px; width:96%;}
	h2.orHeading{font-size:30px; word-spacing:-10px;}
	
	/*header*/
	header{height:inherit; padding:15px 0; position:relative; z-index:1001; border-top:#ed8001 solid 9px;}
	#logo{ width:105px;}
	#logo img{ width:100%; height:auto;}
	.topBar{display:none;}
	.navigation{ display:none;}
	.homeHeader{}
	.headerRight{display:none;}
	
	/*Responsive nav - Common for phone and tablet*/
	#respoBtn{ float:right; margin-top:21px; display:inline!important;}
	.mbSearchBox{ padding:23px 20px 24px;}
	.mbSearchBox input.headSmSearchbtn{top:23px;}
	.responsiveNav ul li a{ font-weight:bold;}
	.responsiveNav ul li ul.mobTabSubNav{margin-bottom:6px;}
	.responsiveNav ul li ul.mobTabSubNav li{ border-bottom:#eeeeee solid 1px;}
	.responsiveNav ul li ul.mobTabSubNav li a{ background-color:#fff; font-size:16px; font-weight:normal;}
	.responsiveNav ul li ul.mobTabSubNav li ul { width:100%; border-top:#f8f8f8 solid 1px;}
	.responsiveNav ul li ul.mobTabSubNav li ul li{display:inline-block; border-bottom:none;  float:left;}
	.responsiveNav ul li ul.mobTabSubNav li ul li a{ font-size:15px; color:#666666; background-image:url(../images/mobthirdLevArrow.png); background-repeat:no-repeat; background-position:21px center; padding:15px 0px 15px 33px;}
	
	/*Tablet Responsive nav - BIG responsive nav*/	
	.responsiveNav.tabletRespNav ul li ul.mobTabSubNav{ padding:20px 0px; zoom:1;}
	.responsiveNav.tabletRespNav ul li ul.mobTabSubNav:before, 
	.responsiveNav.tabletRespNav ul li ul.mobTabSubNav:after { content:""; display:table; }
	.responsiveNav.tabletRespNav ul li ul.mobTabSubNav:after{ clear:both; }
	
	.responsiveNav.tabletRespNav ul li ul.mobTabSubNav li{ border-bottom:none; border-right:#d2d2d2 solid 1px; width:50%; float:left; padding:0px 20px; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
	.responsiveNav.tabletRespNav ul li ul.mobTabSubNav li a{ color:#666666; font-weight:bold; padding:20px 0px; border-bottom:#d2d2d2 solid 1px;}
	.responsiveNav.tabletRespNav ul li ul.mobTabSubNav li a:hover{ color:#333;}
	.responsiveNav.tabletRespNav ul li ul.mobTabSubNav li ul { width:100%; border-top:none;}
	.responsiveNav.tabletRespNav ul li ul.mobTabSubNav li ul li{display:inline-block; border:none;  float:left; padding:0;}
	.responsiveNav.tabletRespNav ul li ul.mobTabSubNav li ul li a{ border:none; font-weight:normal; font-size:16px; color:#666666; background-image:url(../images/mobthirdLevArrow.png); background-repeat:no-repeat; background-position:0px center; padding:7px 0px 7px 15px;}
	/*bottom borders remove statically*/
	.responsiveNav.tabletRespNav ul li:nth-child(1) ul.mobTabSubNav li:last-child a,
	.responsiveNav.tabletRespNav ul li:nth-child(1) ul.mobTabSubNav li:nth-last-child(2) a,
	.responsiveNav.tabletRespNav ul li:nth-child(2) ul.mobTabSubNav li:last-child a,
	.responsiveNav.tabletRespNav ul li:nth-child(2) ul.mobTabSubNav li:nth-last-child(2) a,
	.responsiveNav.tabletRespNav ul li:nth-last-child(4) ul.mobTabSubNav li:last-child a{ border-bottom:none;}	
	.responsiveNav.tabletRespNav ul li:nth-child(1) ul.mobTabSubNav > li:nth-last-child(2) a{ height:65px;}
	
	/*Banner*/
	.banDescription { padding-top:40px;}
	
	/*Footer*/
	.footerExtraLink{ float:none; width:100%;}
	.f-formSect, .f-linkSect{width:100%; margin-right:0; float:none;}
	.f-linkSect{ padding-top:15px; padding-bottom:50px;}
	.f-formSect label{width:100%; float:none; margin-bottom:12px; display:block;}
	.f-formSect .footAlphSearch, .f-formSect .footerBrowseForm{width:100%; float:none;}
	.f-formSect .footerBrowseForm .selField{ width:49%; margin-right:2%;}
	.f-formSect .footerBrowseForm .selField.last{ margin-right:0;}
	.footBottom{padding: 10px 0;}
	.fot-col2{ width:69%;}
	.bottomLink, .copyright{float:none; text-align:left; padding:3px 0px; font-size:13px;}
	
	/*Home page*/
	.page{padding:25px 17px;}
	a.programBox h3, .insightContent .insTxtBox.firstInsighBox a h3, .insightContent .insTxtBox a h3{ font-size:18px; line-height:22px;}
	.homeProgram h2{ font-size:40px; margin-bottom:25px;}
	#programSl .oneFourth{ width:100%; float:none;}
	.homeQuote{background-size:cover; padding:27px 0;}
	/*contact*/
	.contactPage{ padding-top:0;}
	.contFormContainer, .contLoctContainer{ padding:25px;}
	.subscribeFormContainer{ padding:25px;}
	.new_insightContent .oneFourth{ width:100%; float:none;}
	.new_insightContent .insTxtBox .insInner{ height:auto!important;}
	
	/*people list*/
	.pepAlpaSeaBox .pepAlphSl a{color: #17467a;}
	.topSearchBar{ margin-bottom:25px;}
	.peopSmallBox{width:49.5%;}
	/*People Detail*/
	.peopDetBanText{ width:100%; float:none;}
	.lgPeopleDetail .peopBanDetRight{width:100%; float:none; margin:0;}
	.lgPeopleDetail .peoplBanGreyBg{ margin-top:0; margin-bottom:25px;}
	
	.peopDetBanText h1{ font-size:24px; margin-bottom:8px;}
	.peopDetBanText h2 { font-size: 16px;line-height: 33px;}
	.peoplGreyBox article{padding: 15px;}
	.peopleBanner{ margin-bottom:25px;}
	.sidebar{width:33%; }
	.rightContentSide{ width:63%;}
	.rightContentSide h2 {font-size: 25px;margin-bottom: 10px;}
	.pepDetmedQte .mediaOnethird, .pepDetPublWork .publishBox .onehalf{ width:100%; float:none; display:block;}	
	
	
	/*search page*/
	.searchResultPage .sidebar{width:37%;}
	.searchResultPage .rightContentSide{ width:60%;}
	ul.tabNav li {margin: 0 3px 0 0;}
	ul.tabNav li a {padding: 7px 12px 8px;}
	
	/*Career page*/
	.midHeadNav{}
	.careerPage h2, h2.careerMainHead{ font-size:20px; margin-bottom: 15px;}
	.careerOpt{ margin-bottom: 15px;}
	.inTheNewsBox{ padding:14px 0; }
	.inTheNewsBox input{ padding:10px;}
	.midHeadNav h1{ /*float:none; width:100%; margin-right:0; border:none; border-bottom:1px solid #e1e1e1;*/}
	
	/*wwd*/
	.midHeadNav ul{ /*width:100%; float:none;*/}
	h2.subHead{ font-size:25px; margin-bottom:15px;}
	h2.subHead.big{ font-size:22px; margin-bottom:15px;}
	h3.subHead {font-size: 14px; margin-bottom: 12px; font-weight: bold;}
	.practiceArea .subHead{ margin-bottom:5px;}
	/*WWA*/
	.videoContRig{ width:100%;}
	.contBoxList{ margin-bottom:30px;}
	
	/*our location page*/
	.locLanLeft, .locLanRight{width:100%;float:none; margin-bottom:30px;}	
	
	/*contact*/
	.contFormContainer, .contLoctContainer{ width:100%; float:none; margin-bottom:20px;}
	
	
	/*practice area*/
	.bluePatten{ padding:25px 0; margin-bottom:35px;}
	.leftPan{ width:100%; float:none; margin-bottom:20px;}
	.rigPan{ width:100%; float:none;}
	.rigPan article{ padding-bottom:5px;}
	.pattBgBtn{ font-size:12px;}
	
	.rigPan article h2{font-size: 20px;  margin-bottom: 14px;   padding-bottom: 10px;}
	.rigPan article h3{ margin-bottom:15px;}
	.imgFL{ margin-right:15px;}
	.imgFLTxt{ float:left;}
	.rigPan .viewAllBtn{ width:auto;padding: 5px 30px;}
	.newsCont{ padding-right:0;}
	
	/*Program listing*/
	section.ourProLeftSide{ width:60%;}
	aside.ourPrRightSidebar{ width:35%;}
	.ourProSpeakers .authorBox img{ clear:both; margin:5px 10px 5px 0px;}
	aside.ourPrRightSidebar h2{font-size: 20px;  margin-bottom: 15px;}
	.ourProContBox h2{ margin-bottom:20px;}
	.ourProSpeakers .authorBox span.autHeading{ padding-top:0px;}
	/*Program details*/
	.webinarDescript h2{font-size:20px;}
	
	/*our insight*/
	.authorCont h2{ font-size:22px;}
	.categoryList ul li, .categoryList ul li:nth-child(4n+4){ width:31.5%; margin-right:1.5%;}
	
	/*Location page*/
	.otherLocContents{ padding:15px; width:610px;}
	.otherLocContents h2 {font-size: 19px; margin-bottom: 17px; padding-bottom: 10px;}
	.otherLocContents .locLanLeft{ float:left;}
	.otherLocContents .locLanRight{ float:right;}
	.rightOtherLoc{ margin-top:15px;}
	.locDetailBanner{ margin-bottom:0;}
	.locDeBanLeft{ width:100%; float:none; }
	.locDeBanMap{display:none;}
	.mobTabslocMp{ display:block; margin-bottom:40px; height:250px; overflow:hidden;}
	.locationDetailPage h2{font-size: 20px; margin-bottom: 10px;}
	.directContent{ width:100%; padding-right:0; float:none; background:none; margin-bottom:35px;}
	.attrocontent{width:100%; float:none;}
	.hotelBox .mediaOneFourth .lgColBox, .hotelBox .mediaOneFourth .darkColBox{ min-height:240px; height:auto!important; height:240px;}
	.locUpEvent.insightContent .insTxtBox a{min-height:180px; /*height:auto!important; height:180px;*/}
	.locleftInsigBox{ margin-bottom:30px;}
	.locleftInsigBox, .locRightSidebar{ width:100%; float:none;}
	
	.innerBanner{ height:auto; background-size: cover;}
	.midHeadNav{ padding:20px 0px 25px;}
	.midHeadNav h1{ width:100%;  float:none;}
	.midHeadNav ul{ float:none; text-align:left; max-width:inherit; width:100%;}
	.midHeadNav ul li{ display:inline;}
	.midHeadNav ul li:nth-child(1){padding-left:0;}
	.midHeadNav h1.pgName.actNav b, .midHeadNav ul li a.actNav b{ display:none;}
	
	/*od-comply*/
	.odCompBanner{ font-size:15px; padding:30px;}
	.odCompBanner h2{ font-size:22px; line-height:25px;}
	
	/*media page*/
	.peopMediaDet{margin-bottom:25px;}
	.backtoArro{ float:none; margin:0;}
	.peopMediaDet span{ display:none;}
	.mdQuoteContent ul li{ width:100%; font-size:17px; line-height:24px;}
	.mdQuoteContent ul li div{ height:auto; min-height:inherit;}
	
	.publishWorkContainer h2{font-size: 26px; margin-bottom: 15px;}
	.publishBoxesContent .pubTxtBox a{ padding:30px; min-height:inherit;}
	.publishBoxesContent .oneHalf{ width:100%;}
	.peopMCont_lightBox{ width:84%; left:8%; margin:0;}
	.popM_Ligh_Inner{ padding:15px;}
	.popM_Ligh_Inner a.peop_CloseBtn{ width:40px; height:40px; line-height:40px; font-size:23px; right:-20px; top:-20px;}
	
	.subscribePage table{ width:100%;}
	.rightContentSide .peopDetBanText h2{ width:auto;}
	
	.subscribeFormContainer{ width:100%;}
}

@media only screen and (max-width : 767px) {	
	.mbSearchBox{ padding:13px 20px;}
	.mbSearchBox input.headSmSearchbtn{top:13px;}
	
	/*Footer*/
	footer.footer{ padding:20px 0px;}
	.f-linkSect, .f-formSect{ padding-top:0;}
	
	/*Home*/
	.insightContent .insTxtBox, .insightContent .oneThird, .insightContent .oneHalf, .insightContent .twoThird{float:none; width:100%; }
	.insightContent .insTxtBox a{min-height:100px; height:auto!important; height:100px;}
	.homeQuote{ font-size:17px; line-height:27px;}
	.authorBox{float:none; width:60%; margin-bottom:20px;}
	.autorLeftCont{float:none; width:100%;}
	.insightContent .insTxtBox .insInner{min-height:100px; height:auto!important; height:100px; padding:20px; }
	
	/*people list*/
	.pageTitle{ padding:30px 0px 20px;}
	.peopSmallBox{width:49.5%;}
		
	
	/*our culture*/
	.OurCulture .insightContent .insTxtBox a{ min-height:inherit; height:auto;}
	
	/*Program listing*/
	section.ourProLeftSide{ width:100%; float:none; margin-bottom:30px;}
	aside.ourPrRightSidebar{ width:100%; float:none; margin-bottom:20px;}
	.tagContaner{ padding:15px;}
	.tagContaner h2{ padding-bottom:8px;}
	.insightsTopForm{ padding:15px 0 5px;}
	.insightsTopForm .sepBox{ float:none; margin-right:0; border:none; padding:0;}
	.insightsTopForm .sepBox input{ margin-bottom:10px;}
	.insightsTopForm input.searchKey{ width:100%;}
	.insightsTopForm .selDrop{ width:100%; margin-bottom:10px;}
	
	/*Program Detail*/
	.recommProgram{ padding-bottom:5px;}
	.recommProgram .oneThird{ width:100%; float:none; padding:0; margin-bottom:30px;}
	.outLokBtnBox{ clear:both; margin:5px 0 15px;}
	
	/*Our insight*/
	.our-insights-bannar .container{ width:100%;}
	.diversityHeading{ float:none; margin-bottom:64px; width:auto;}
	.diversityBanCont{ float:none; clear:both; width:100%; height:auto; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
	.diversityBanCont ul{ float:none; margin:0;}
	.diversityBanCont ul li{ margin-bottom:6px; font-size:14px;}
	
	.categoryList ul li, .categoryList ul li:nth-child(4n+4){ width:48%;}
	.insPostAuthorDetail{ width:100%; float:none; margin-bottom:20px; margin-right:0;}
	.insPostsArticle{ width:100%; float:none; margin-bottom:20px; margin-right:0;}
	.insightPage h2{ font-size:25px; margin-bottom:15px;}
	.inspostContent{ padding:20px; min-height:inherit; height:auto;}
	.inspostContent h2{ font-size:22px;}
	aside.ourPrRightSidebar h2.heading{ font-size:20px; margin-bottom:15px;}
	
	/*practice Area*/
	.leftSect, .rigSect{ width:100%; float:none;}
	.leftSect{ margin-bottom:60px;}
	
	/*people media page*/
	.peopPubTextBox{}
	.pepPubHeadBox ul li{ margin:0; display:block;}
	.pepPubHeadBox h1{ font-size:24px;}
	
	.popMediaPic{ background:none; box-shadow:none; width:27%; margin-right:3%;}
	.peopMediaDet{ width:70%;}
	
	/*Learning solution*/
	.learSolPage .oneHalf_leSol{width:100%; margin:0 0 20px;}
	
	/*Location page*/
	
	.welpopBox{ width:90%; margin-left:0; left:5%; position:absolute;}
	.welpopContBox{ padding:30px 20px;}
	
	.learningVdoPlaceholder{ width:100%; margin-left:0;}
	#locationBox .oneThird{ width:100%; float:none;}
	/*Alumini Page*/
	.aluSocialSection, .aluBlueSection, .alumSpotLight{ padding:50px 0 25px;}
	
	.aluDetailLeft, .aluTreeRight{ float:none; width:100%;}
	.aluTreeRight{ margin-bottom:10px;}
	.aluDetailLeft .pageTitle h1{ font-size:28px; line-height:35px;}
	.bluOneHalf{ width:100%; float:none;}
	.bluContentBox{ padding:0; border:none; margin-bottom:70px;}
	.bluContentBox2{ padding:0;}
	.aluSocialSection .alOneThird{ width:96%; margin-bottom:40px;}
	.mainTwoThird, .mainOneHalf{ width:100%; float:none; margin-bottom:50px;}
	.mainOneThird{ width:100%; float:none;}
	.mainOneThird .secOneHalf{ width:22%; margin-right:3%;}
	
}


@media only screen and (max-width : 640px) {	
	body{-webkit-text-size-adjust:100%;}
	
	/*Footer*/
	footer.footer, .fot-col1 ul li, .bottomLink, .copyright{ font-size:14px; }
	
	/*Home*/
	#accoladSl .owl-item a{border-right:none;}
	
	/*People detail*/
	.topSearchBar input{ font-size:15px;}
	.sidebar, .rightContentSide{width:100%; float:none;}
	
	.peoplePicBox{ width:100%; float:none; margin-bottom:25px;}
	.peoplePicBox img{width:150px; float:left;}
	
	.peopPicCont{ width:230px; float:left; padding:15px;}
	
	/*Career page*/
	.careerOpt span{float:none; margin-bottom:10px; display:block;}
	.careerOpt a.orgTextLink{float:none;}
	.midHeadNav ul li{margin: 0 0 0 2px;}
	.inTheNewsBox input, .inTheNewsBox .selDrop{ width:100%; margin-bottom:10px;}
	.inTheNewsBox input.topSeaIconBtn{ margin-bottom:0;}
	.jobLoca{ display:block; margin-right:0;}
	.jobOpContBox .viewDetail{ margin-right:5px;}
	
	.contBoxList li .contBox{ width:100%; float:none;}
	.contBoxList li .contBox .tt, .contBoxList li .contBox + .contBox .tt{ border-right:none; position:inherit; right:0; padding:20px 0; margin:0; min-height:auto; height:auto; border-bottom: 1px solid #dadada; }
	.contBoxList li .contBox + .contBox{ margin:0;}
	.contBoxList li .contBox{ border-top:none;}
	.careerPage .contBoxList li .contBox .tt{ min-height:auto; height:auto;}
	
	.careerPage h2.subHead{ font-size:22px; margin-bottom:7px;}
	
	
	/*search page*/
	.searchResultPage .sidebar{width:100%; float:none;}
	.searchResultPage .rightContentSide{ width:100%; float:none;}
	
	/*location page*/
	.locMapBanner{ display:none;}
	.locLandingPage{ padding:20px 0 0;}
	.locLandingPage h2{font-size:22px;}
	.linksCols{width:33%;}	
	.otherLocContents .locLanLeft .linksCols{ width:48%;}
	.otherLocContents .locLanLeft .linksCols:nth-child(4){clear:both;}
	
	/*Our insight*/
	.recommndedPg div.group article{ width:100%; margin: 0 0 20px 0;}
	.publications{ padding-bottom:0; margin-bottom:0;}
	
	/*Location page*/
	.locMainTitle{ float:none;}
	.rightOtherLoc{ float:none; margin-bottom:30px; margin-top:0; width:100%;}
	.otherLocContents{ width:100%; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; border-top:none; top:42px;}
	.otherLocContents .locLanLeft, .otherLocContents .locLanRight{ float:none; width:100%;}
	.locDeBanLeft .minText{ background:none;}
	.locDeBanLeft .oneHalf, .locDeBanLeft .oneHalf2{ width:100%; float:none; margin-bottom:20px;}
	.mobTabslocMp{ height:200px;}
	.hotelBox .mediaOneFourth{ width:100%; float:none; display:block;}
	.hotelBox .mediaOneFourth .lgColBox, .hotelBox .mediaOneFourth .darkColBox{ min-height:inherit; height:auto;}
	
	/*od-comply*/
	.videoSection{ width:100%;}
	.odContPic{ width:100%; float:none; margin-bottom:15px;}
	.odContText{ padding:0;width:100%; float:none; }
	
	/*Welcome*/
	.welpopContBox h2{ font-size:22px; line-height:28px; margin-bottom:5px;}
	.welpopContBox h2 span{ font-size:20px;}
	.welpopContBox h3, .welpopContBox h4{ font-size:15px; padding:0;}
	.learSolPage .videoContRig{ width:100%;}
	.learSolPage .videoContRig iframe{ width:100%!important;}
}

@media only screen and (max-width : 480px) {
	/*Global*/
	.container{width:92%;}
	h2.orHeading span{ display:block; padding:6px 15px 4px 15px}
	.pageTitle h1, .midHeadNav h1{ font-size:30px;}
	.pagination li.viewAllPagi{ display:block; padding-top:15px;}
	.topLeft, .topRight{ width:50%;}
	
	/*Banner*/
	.banDescription{padding-top:65px;}
	.banDescription h1{ font-size:30px;}
	
	/*header*/
	header{padding:10px 0;}
	#logo{ width:85px;}
	#respoBtn{ margin-top:13px;}
	.authorBox{width:100%;}
	
	/*footer*/
	.f-linkSect{ padding-bottom:1px;}
	.fot-col1, .fot-col2{ width:100%; padding-right:0; float:none; margin-bottom:40px;}
	.f-formSect .footerBrowseForm .selField{ width:48%; margin-right:4%;}
	.f-formSect .footerBrowseForm .selField.last{ margin-right:0;}
	.f-formSect .footerBrowseForm .selField{ width:100%; float:none; margin-right:0;}
	.fotColsContent{ width:100%; float:none; padding-right:0;}
	.bottomLink, .copyright { padding: 3px 0 10px;}
	
	/*Home page*/
	.authorBox{float:none; display:inline-block;}
	.authorBox img{clear:both; margin:5px 10px 0px 0px;}
	
	/*People Listing*/
	.peoplefilterBtn{display:block;}
	.peoplSidebar{ display:none;}
	.mobileFilOptBtns{display:block;}
	.sideSearchListSec h2{ display:none;}
	
	/*People Detail*/	
	.peopleBanner{ /*border-bottom: 10px solid #1d1d1d; padding:30px 0px;*/ padding:15px 0px; }
	.peoplePicBox, .peopDetBanText, .peopBanDetLeft, .peopBanDetRight{width:100%; float:none; margin-bottom:15px;}
	.topSearchBar input[type="text"]{width:100%;}
	.peoplePicBox{ width:100%;}
	.peoplePicBox img{width:40%;}	
	.popMediaPic img{ }
	.peopPicCont{ width:52%; padding:10px 4%;}
	.peopPicCont a{ margin-bottom:5px;}
	.topSearchBar .container{position:relative;}
	.topSearchBar .container input.topSeaIconBtn{ position:absolute; top:0; right:0; margin:0; -webkit-appearance: none;}
	
	/*adaptive layout for people detail*/
	/*.lgPeopleDetail{ display:none;}
	.mobilePeopleDetail{ display:block;}
	*/
	
	/*Contact us*/
	.contFormContainer h2, .contLoctContainer h2{ font-size:22px; padding: 12px 0 12px 65px;}
	.contFormContainer, .contLoctContainer{ padding:15px;}
	.subscribeFormContainer{ padding:15px;}
	.contFormContainer input, .contFormContainer textarea{/*font-size:13px;*/}
	.contFormContainer .selDrop .stylish-select-right{ /*font-size:13px;*/ }
	.captField span{ /*height:48px; line-height:44px;*/}
    .contFormContainer .capchaBox { width:100%;}
	
	/*Career page*/
	.sortSection .selDrop{ margin-right:15px;}
	.sortSection b{ margin-right:10px; font-size:13px;}
	.mR30{ margin-right:10px;}
	
	/*search page*/
	.resOrdDetail{font-size:14px;}
	.tabContent .tabBoxes ul.searchContent li{ padding:28px 0px;}
	
	/*Practice area*/
	.practiceArea section{ margin-bottom:35px;}
	.bluePatten{ padding:15px 0; font-size: 15px; line-height: 25px;}
	.imgFL{ margin-right:5%; width:35%;}
	.imgFLTxt{width:60%;}
	
	/*Contact us*/
	.foOneHalf{ width:100%; margin-right:0;}
	
	/*Program listing*/
	.ourProContBox .dateBox{ left:inherit; right:0px; top:0px; height:auto; text-align:center; width:50px;}
	.ourProContBox h2 { padding-right: 46px;}
	.ourProContBox{ padding-left:0;}
	.ourProContBox .blueBgBtn{ margin-right:1px; padding: 3px 15px 2px;}
	.insightsTopForm input.dateField{ width:95px;}
	img.ui-datepicker-trigger{margin: 5px 9px 0 5px;}
	.programDaTimeDetail{ width:100%;}
	
	/*Firm leadership*/
	h3.subHead2{ margin-bottom:20px;}
	h3.subHead2 span{ width:85px;}
	.firmOfficer{ margin-bottom:0;}	
	.aroPic{display:none;}
	.boardList li{  display:block; width:48%; margin:0 1% 20px;}
	.boardList li a:first-child, .boardList li a{ display:block; float:none; width:100%; background-color:#dc6b0e;}
	.boardList li .pic, 
	.boardList li.anticlock .pic{ width:100%; height:auto; float:none;}
	.boardList li .pic img,
	.boardList li.anticlock .pic img{ width:100%; height:auto; display:block;}
	.boardList li .picCont, 
	.boardList li.anticlock .picCont{ padding: 20px 5%; min-height:110px; height:auto!important; height:110px; text-align: center;  width: 90%; display:block;  float:none; color:#fff;}
	.boardList li .picCont h3, 
	.boardList li.anticlock .picCont h3{ color:#fff;}
	.linkTxt{ width:100px; display:block; margin:15px auto 0;}
	
	/*wwd*/
	.wwdBanner{ height:113px;}
	.leftSect, .rigSect{ float:none; width:100%;}
	.midHeadNav ul li{ background:none; padding:5px 0; margin:0; height:inherit;}
	.midHeadNav ul{ }
	.midHeadNav ul li a{ float:none; padding:0; margin-right:25px;}
	.midHeadNav ul li a.actNav{ background:none; color:#dc6b0e;}
	
	/*Our insight page*/
	.insightNav ul li a{ width:auto; font-size:12px;}
	.shareBox{ background:none; left:inherit; right:0px; top:65px; height:30px; width:50px; overflow:hidden; text-align:center;}
	.categoryList ul li, .categoryList ul li:nth-child(4n+4){ width:100%; margin-right:0; margin-bottom:10px;}
	.postsBoxes{ width:100%; margin-right:0; margin-bottom:5px; float:none;}
	
	
	.publishBoxesContent .pubTxtBox a{ padding:20px; min-height:inherit;}
	.popM_Ligh_Inner a.peop_CloseBtn{ width:30px; height:30px; line-height:30px; font-size:18px; right:-15px; top:-15px;}
	.popMediaPic{ background:none; box-shadow:none; width:100%; margin-right:0; float:none; margin-bottom:20px;}
	.peopMediaDet{ width:100%; float:none;}
	
	.subscribePage h2{font-size: 22px; margin-bottom: 10px;}    
    .commonHeading {font-size: 24px;margin-bottom: 10px;}	
	.popupShow{ width:90%; left:5%; top:32%; margin:0; padding:15px; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
	
	.mainOneThird .secOneHalf{width: 44%;  margin-right: 6%;}
	.mainOneThird .secOneHalf.last{ margin-right:0;}
	.od_comCheckbox .odOneHalf{ width:100%; margin-right:0;}
	
	/*alumini question ans*/
	.alumQusAnsBanner .secOneThird{ width:100%; float:none; margin-bottom:25px;}
	.alumQusAnsBanner .secTwoThird{ width:100%;}
	
	/*Msg Box*/
	.msgpopBox{
		width:90%;
		left:5%;
		margin-left:0;
		top:50px;
	}
}

@media only screen and (max-width : 400px) {
	/*people list*/
	.peopSmallBox{width:100%; margin-right:0; float:none;}
	
	/*Location Detail*/
	.locDeBanLeft .oneHalf2{ margin-bottom:0;}
	.maSharPeop{ width:100%; float:none; margin-bottom:15px;}
	.pattBgBtn{ padding: 7px 11px;}
	
	.contentImg{ float:none; margin:0 0 15px; width:100%; box-sizing:border-box;}
	
	/*people detail*/
	.m_peoplePicBox img{ width:100%; float:none;}
	.m_peopPicCont{ width:92%; float:none;}
	
	/*Alumini page*/
	.secOneThird, .secTwoThird{ width:100%; float:none; margin:0 0 25px;}
	.alumSpotLight h1{ font-size:30px; margin-bottom:10px;}
	
	.locDetListing ul.odOptBtn li{width:50%; border-bottom:#fff solid 1px;}
	.locDetListing ul.odOptBtn li a{ font-size:16px; padding:15px 0;}
}


@media only screen and (max-width : 320px) {
    .subscribeFormContainer .captField { width:88%; }
}




/**************************************************
For Specific reason to use max and min width
***************************************************/
@media only screen and (min-width : 1181px) {
	.boardList li:nth-child(6n+4) .pic{ float:right;}
	.boardList li:nth-child(6n+4) .picCont{ float:left;}
	.boardList li:nth-child(6n+4) .aroPic{ margin-left:0; }
	.boardList li:nth-child(6n+4) .aroPic img{right:0;}	
	
	.boardList li:nth-child(6n+5) .pic{ float:right;}
	.boardList li:nth-child(6n+5) .picCont{ float:left;}
	.boardList li:nth-child(6n+5) .aroPic{ margin-left:0; }
	.boardList li:nth-child(6n+5) .aroPic img{right:0;}	
	
	.boardList li:nth-child(6n+6) .pic{ float:right;}
	.boardList li:nth-child(6n+6) .picCont{ float:left;}
	.boardList li:nth-child(6n+6) .aroPic{ margin-left:0; }
	.boardList li:nth-child(6n+6) .aroPic img{right:0;}
}

@media only screen and (max-width : 1180px) and (min-width : 770px){
	.boardList li:nth-child(4n+3) .pic{ float:right;}
	.boardList li:nth-child(4n+3) .picCont{ float:left;}
	.boardList li:nth-child(4n+3) .aroPic{ margin-left:0; }
	.boardList li:nth-child(4n+3) .aroPic img{right:0;}

	.boardList li:nth-child(4n+4) .pic{ float:right;}
	.boardList li:nth-child(4n+4) .picCont{ float:left;}
	.boardList li:nth-child(4n+4) .aroPic{ margin-left:0; }
	.boardList li:nth-child(4n+4) .aroPic img{right:0;}
}

@media only screen and (max-width : 769px) and (min-width : 481px){
	.boardList { width:375px; margin:0 auto;}
	.boardList li:nth-child(even) .pic{ float:right;}
	.boardList li:nth-child(even) .picCont{ float:left;}
	.boardList li:nth-child(even) .aroPic{ margin-left:0; }
	.boardList li:nth-child(even) .aroPic img{right:0;}
}



/***************************
Our insight page - Blog tab
****************************/
@media only screen and (min-width : 1001px){
	.categoryList ul li:nth-child(8n+2){ background-color:#fafafa;}
	.categoryList ul li:nth-child(8n+4){ background-color:#fafafa;}
	.categoryList ul li:nth-child(8n+5){ background-color:#fafafa;}
	.categoryList ul li:nth-child(8n+7){ background-color:#fafafa;}
}
@media only screen and (max-width : 1000px) and (min-width : 768px){
	.categoryList ul li:nth-child(even){background-color:#fafafa;}
}
@media only screen and (max-width : 767px) and (min-width : 481px){
	.categoryList ul li:nth-child(4n+2){background-color:#fafafa;}
	.categoryList ul li:nth-child(4n+3){background-color:#fafafa;}
}
@media only screen and (max-width : 480px){
	.categoryList ul li:nth-child(even){ background-color:#fafafa;}
}