{#
/**
 * @file
 * Default theme implementation to display a search block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - module: The module that provided this block plugin.
 *   - cache: The cache settings.
 *   - Block plugin specific settings will also be stored here.
 * - block - The full block entity.
 *   - label_hidden: The hidden block title value if the block was
 *     configured to hide the title ('label' is empty in this case).
 *   - module: The module that generated the block.
 *   - delta: An ID for the block, unique within each module.
 *   - region: The block region embedding the current block.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 *
 * @ingroup templates
 */
#}
{%
set classes = [
'block',
'block-' ~ configuration.provider|clean_class,
]
%}
<div class="headSearch">
    
    <a href="javascript:void(0);" class="searImgBtn">Search</a>
    <div class="headSeaDropBox">
        <div class="headSeaFieldBox">
            <a href="javascript:void(0);" class="headSeaClBtn">X</a>
            {% block content %}
            {{ content }}
          {% endblock %}
            
        </div>
    </div>

</div>
