{% import _self as menus %}
{{ menus.menu_links(items, attributes, 0) }}
{% macro menu_links(items, attributes, menu_level) %}
    {% import _self as menus %}
    {% if items %}
        
        {% if menu_level == 1 %}
            <div class="subMenu" style="background-position: 1140px top; display: none;">
                <div class="subMenuBox">
                    <div class="container locMenuDrop">
                        
        {% endif %}
        {% if menu_level > 1 %}
            <div class="linksCols">
        {% endif %}
        
        {% if menu_level != 1 %}
        <ul {% if menu_level == 0 %} {{ attributes.addClass('menu', 'nav', 'navbar-nav','navbar-right') }} {% endif %}>
        {% endif %}
            
        
            {% for item in items %}
                {% if menu_level == 1 %}
                    <div class="locLanLeft">
                    <h2>{{ item.title }}</h2>
                {% else %}  
                    <li>
                        <a href="{{ item.url }}" class="page-scroll">{{ item.title }}</a>
                
                {% endif %}  
                    {% if item.below %}
                    {{ menus.menu_links(item.below, attributes.removeClass('nav', 'navbar-nav'), menu_level + 1) }}
                    {% endif %}
                    {% if menu_level == 1 %}
                        </div>
                     {% else %}  
                        </li>
                     {% endif %}
                     
            {% endfor %}
            
            
            
            
        {% if menu_level != 1 %}
            </ul>
        {% endif %}
        {% if menu_level > 1 %}
            </div>
        {% endif %}
        
        {% if menu_level == 1 %}
                        
                    </div>
                </div>
            </div>
        
        {% endif %}
        
{% endif %}
{% endmacro %}