
<div id="wrapper">
    <header>
        <div class="topBar">
            <div class="container group">
                
                
        <div class="topLeft">        
        {% if show_social_icon %}
            <ul>
                <li>
            {% if facebook_url %}
              <a href="{{ facebook_url }}" target="_blank" >facebook</a>
            {% endif %}
                </li>
            {% if linkedin_url %}
                 <li>
              <a href="{{ linkedin_url }}" target="_blank" >LinkedIn</i></a>
            {% endif %}
                  </li>
            {% if twitter_url %}
                 <li>
              <a href="{{ twitter_url }}" target="_blank" >Twitter</a>
               </li>
            {% endif %}
            </ul>
        {% endif %}
         </div>       
                
                
                
                <div class="topRight">
                    <div class="flags">
                        <a href="javascript:void(0);" style="margin-left:0;"><img src="{{ flag1 }}"></a>
                        <a href="javascript:void(0);"><img src="{{ flag2 }}"></a>
                        <a href="javascript:void(0);"><img src="{{ flag3 }}"></a>
                    </div>
                    <!-----------------Top menu------------------------->
                    <ul class="topNav">
                        {{page.top_menus}}
                    </ul>
                    <!--------------End top menu---------------------->
                </div>	
            </div>
        </div>
        <div class="container group">
            <!------------------------Site logo------------------>
            <div id="logo">{{page.logo}}</div>
            <!---------------------------end site logo------------------>
            <a href="javascript:void(0);" id="respoBtn">
                <span class="resOpenBtn"></span>
                <span class="resCloseBtn"></span>
            </a>
            <div class="headerRight">
                <div class="headerNav">						
                    <div class="mobTabNav">

                        <div class="mbSearchBox">

                        </div><!--//mbSearchBox-->
                    </div>
                    {{page.mobile_menu}}
                </div>
                <!----------------end mobile menu---------------->
                <!-----------------------Drop down menu---------------->
                <nav class="navigation">
                    {{page.mainmenus}}
                </nav>
                <!---------------end drop down menu------------------>
                <!---------------------Search module------------------->
                <div class="headSearch">
                    {{page.search}}
                </div>
                <!-----------end search module--------------->
            </div>
        </div>
</div>
<div class="clear"></div>
</header>
{% if is_front %}
    <div class="banner">
        <div class="slide randomBackground">
            <div class="container">
                <div class="banDescription">
                    <h1>{{bannerText}}</h1>
                    {{page.front_banner_button}}
                </div>
            </div>
        </div>
    </div>
{% endif %}
{% if not is_front %}
    <div class="innerBanner">
        <div class="container">
            <div class="midHeadNav group">
                <h1>{{ title }}</h1>
                {{page.inner_page_menu}}
            </div>				
        </div>
    </div>
{% endif %}
{%  if page.breadcrumb and not is_front %}      
    {{page.breadcrumb}}
{% endif %}
<!----------------------page content---------------------------->
<div class="page">
    <div class="container group">
        <div class="insightContent">
            <section class="insTxtBox firstInsighBox">{{page.firest_inside_box}}</section>
                {{page.content}}
        </div>
    </div>
</div>
<!--------------------------end page content-------------------->
{% if is_front %}
    <div class="homeQuote">
        <div class="container">
            {{banner2text}}
        </div>
    </div>
    <div class="page">
        <div class="container">
            <div class="homeProgram">
                {{page.ourprogram}}
            </div>
        </div>
    </div>
{% endif %}
<!--Footer start-->
<footer class="footer">
    <div class="container">
        <section class="f-linkSect group">
            {{page.footer_1}}
        </section>
        <section class="f-formSect">
            {{page.footer_2}}
        </section>

        <section class="footerExtraLink">
            {{page.footer_3}}
        </section>
        <div class="clear"></div>
    </div><!--//container-->
</footer><!--//footer-->

<footer class="footBottom">
    <div class="container">
        <div class="bottomLink">
            {{page.private_policy_menu}}
        </div>
        <div class="copyright">{{ right }}</div>

        <div class="clear"></div>
    </div><!--container-->
</footer><!--//footBottom-->

</div><!--//wrapper-->


<!--//Go to top-->
<div class="goTop">
    <a href="javascript:void(0);">Top</a>
</div>
